<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <template v-if="addNew">
                            <form @submit.prevent="registerPost">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="title">Title</label>
                                            <input type="text" v-model="title" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="body">Body</label>
                                            <textarea cols="30" rows="5" v-model="body" class="form-control"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <button class="btn btn-primary" @click.prevent="registerPost">Register</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </template>
                        <template v-else>
                            <vuetable ref="pagination"
                                      :fields="['title']"
                                      data-path="api/get-posts"
                                      pagination-path=""
                                      :api-mode="true"
                                      :first-page="1"
                                      :data="posts"
                            ></vuetable>
                        </template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios'

    import Vuetable from 'vuetable-2'


    export default {
        components:{
            Vuetable
        },
        mounted() {
            //this.getData();
        },
        data() {
            return {
                posts: [],
                title: '',
                body: '',
                addNew: false
            }
        },
        methods: {
            getData(){
                axios.get('/api/get-posts').then( res => {
                    console.log(res)
                    this.posts = res.data.data
                })
            },
            cleanFields(){
                this.title = '';
                this.body = '';
            },
            registerPost(){
                axios.post('/posts', {
                    title: this.title,
                    body: this.body
                })
                    .then(res => {
                        console.log(res);
                        this.cleanFields();
                    })
                    .catch(error => {
                        console.log(error)
                    })
            }
        },
    }
</script>
