<template>
    <div>
        <div class="card">
            <div class="card-header">Posted on: {{ thought.created_at }}</div>
            <div class="card-body">
                <p>
                    {{ thought.description }}
                </p>
            </div>
            <div class="card-footer">
                <button class="btn btn-default">Editar</button>
                <button class="btn btn-danger">Eliminar</button>
            </div>
        </div>
        <br>
    </div>
</template>

<script>
    export default {
        props: ['thought'],
        mounted() {
            console.log('Component mounted.')
        },
        data() {
            return {
                thought:{
                    id: '',
                    description: '',
                    created_at: ''
                }
            }
        },
    }
</script>
