<template>
    <div>
        <div class="card">
            <div class="card-header">Create</div>

            <div class="card-body">
                <form>
                    <div class="form-group">
                        <label for="thought">Thinking:</label>
                        <input type="text" class="form-control">
                    </div>
                    <button class="btn btn-primary">
                        Registrar
                    </button>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        //name: "FormComponent"
    }
</script>

<style scoped>

</style>
