<template>
    <div>
        <form-component></form-component>
        <br>
        <example-component v-for="thought in thougts" :key="thought.id"
        :thought="thought">
        </example-component>
        <br>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                thougts: [
                    {id:1, description:'desc', 'created_at': '11/08/2016' },
                    {id:2, description:'segundo', 'created_at': '11/10/2016' },
                ]
            }
        },
    }
</script>

<style scoped>

</style>
